@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body header {
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eb5757;
}
body header nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eb5757;
  font-family: sans-serif;
}
body header nav .nav-container {
  width: 95%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
body header nav .nav-container .nav-image img {
  width: 100%;
  height: auto;
}
body header nav .nav-container .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
body header nav .nav-container .nav-menu .nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
body header nav .nav-container .nav-menu .nav-bar ul li a {
  color: white;
}
body header nav .nav-container .nav-menu .nav-shop-icon {
  position: relative;
  background-color: black;
  width: 40px;
  height: 30px;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
body header nav .nav-container .nav-menu .nav-shop-icon a i p {
  position: absolute;
  top: -10px;
  left: 25px;
  font-size: 12px;
  color: white;
  background-color: rgb(103, 103, 103);
  border-radius: 50%;
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secOne {
  margin-bottom: 20px;
}
body main #secOne .main-head {
  background-image: linear-gradient(360deg, #222, rgba(34, 34, 34, 0)), url(/assets/images/bg1.jpg);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}
body main #secOne .main-head .main-container {
  background-repeat: no-repeat;
  background-position-x: -150px;
  background-position-y: -150px;
  background-size: auto cover;
  width: 100%;
  height: 800px;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secOne .main-head .main-container .container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  top: 200px;
  position: absolute;
  width: 70%;
  gap: 20px;
}
body main #secOne .main-head .main-container .container-text h1 {
  font-size: 62px;
  font-weight: 600;
  color: white;
}
body main #secOne .main-head .main-container .container-text p {
  font-size: 18px;
  color: white;
  width: 380px;
}
body main #secOne .main-head .main-container .container-text button {
  width: 140px;
  height: 36px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  background-color: transparent;
  transition: 0.4s;
}
body main #secOne .main-head .main-container .container-text button:hover {
  width: 140px;
  height: 36px;
  font-size: 16px;
  color: black;
  border-radius: 5px;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
  transition: 0.4s;
}
body main #secTwo {
  margin-top: 20px;
  padding: 60px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secTwo .secTwoContent {
  width: 71%;
}
body main #secTwo .secTwoContent .secTwoContentOne {
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 20px;
  width: 100%;
}
body main #secTwo .secTwoContent .secTwoContentOne .contentOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
body main #secTwo .secTwoContent .secTwoContentOne .contentOne h2 {
  font-size: 16px;
}
body main #secTwo .secTwoContent .secTwoContentOne .contentOne p {
  font-size: 40px;
}
body main #secTwo .secTwoContent .secTwoContentOne .contentTwo p {
  width: 600px;
  font-size: 16px;
}
body main #secTwo .secTwoContent .secTwoContentTwo {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  width: 100%;
}
body main #secTwo .secTwoContent .secTwoContentTwo .content {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body main #secTwo .secTwoContent .secTwoContentTwo .content .squareContent {
  width: 80%;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: c;
  width: 350px;
  height: 350px;
  background-color: black;
  border-radius: 5px;
}
body main #secTwo .secTwoContent .secTwoContentTwo .content .squareContent p {
  font-size: 40px;
  font-weight: 900;
  color: white;
  position: absolute;
  top: 40px;
  left: 40px;
}
body main #secTwo .secTwoContent .secTwoContentTwo .content .squareContent h2 {
  font-size: 40px;
  color: white;
  text-align: center;
  width: 50%;
}
body main #secTwo .secTwoContent .secTwoContentTwo .content .squareContent img {
  position: absolute;
  top: 250px;
  left: 250px;
}
body main #secTwo .secTwoContent .secTwoContentTwo .content .textContent {
  z-index: 5;
  padding: 20px 0;
  width: 100%;
}
body main #secTwo .secTwoContent .secTwoContentTwo .content .textContent p {
  font-size: 16px;
  line-height: 1.7;
  width: 93%;
}
body main #secThree {
  width: 100%;
}
body main #secThree .secContent {
  background-image: url(/assets/images/arkaplan2.jpg);
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
  background-position-y: -350px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: end;
}
body main #secThree .secContent .secContentOne {
  position: relative;
}
body main #secThree .secContent .secContentOne .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  text-align: end;
  top: -120px;
  right: 350px;
  width: 600px;
  gap: 20px;
}
body main #secThree .secContent .secContentOne .content h2 {
  color: white;
  font-weight: 700;
  font-size: 45px;
  width: 500px;
  text-shadow: 0 0 20px black;
}
body main #secThree .secContent .secContentOne .content p {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  width: 400px;
  text-shadow: 0 0 20px black;
}
body main #secThree .secContent .secContentOne .content button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 40px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  transition: 0.3s;
}
body main #secThree .secContent .secContentOne .content button:hover {
  background-color: #eb5757;
  color: white;
  border: none;
  padding: 10px 40px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  transition: 0.3s;
}
body main #secFour {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secFour .secContent {
  width: 70%;
}
body main #secFour .secContent .secContentOne .content {
  padding: 20px 0;
}
body main #secFour .secContent .secContentOne .content h3 {
  font-size: 16px;
  font-weight: 100;
  color: gray;
}
body main #secFour .secContent .secContentOne .content h2 {
  font-size: 35px;
}
body main #secFour .secContent .secContentTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body main #secFour .secContent .secContentTwo .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 700px;
  gap: 5px;
}
body main #secFour .secContent .secContentTwo .content .imgContent {
  padding-bottom: 20px;
  width: 380px;
  height: 600px;
}
body main #secFour .secContent .secContentTwo .content .imgContent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
body main #secFour .secContent .secContentTwo .content .priceContent {
  display: flex;
  gap: 20px;
}
body main #secFour .secContent .secContentTwo .content .priceContent del {
  text-decoration: line-through;
}
body main #secFour .secContent .secContentTwo .content button {
  transition: 0.4s;
  margin: 20px;
  padding: 10px 25px;
  background-color: #eb5757;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  outline: none;
}
body main #secFour .secContent .secContentTwo .content button:hover {
  transition: 0.4s;
  margin: 20px;
  padding: 10px 25px;
  background-color: black;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}
body main #secFour .secContent .secContentThree {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secFour .secContent .secContentThree .content button {
  outline: none;
  transition: 0.4s;
  margin: 20px;
  padding: 10px 30px;
  background-color: black;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
}
body main #secFour .secContent .secContentThree .content button:hover {
  transition: 0.4s;
  margin: 20px;
  padding: 10px 30px;
  background-color: #eb5757;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}
body main #secFive {
  margin: 50px 0;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secFive .secContent {
  width: 100%;
  height: 500px;
  position: relative;
}
body main #secFive .secContent .secContentOne {
  position: absolute;
  top: 0px;
  left: 400px;
  z-index: 2;
}
body main #secFive .secContent .secContentOne .content {
  background: url(/assets/images/5e83fe3910db4fde2e69f396_christiann-koepke-dQyS2pMYtok-unsplash\ \(1\).jpg);
  width: 350px;
  height: 450px;
  object-fit: none;
  background-position: 69% 80%;
  background-size: 270%;
  min-height: 440px;
  border-radius: 5px;
}
body main #secFive .secContent .secContentTwo {
  position: absolute;
  top: -40px;
  left: 650px;
}
body main #secFive .secContent .secContentTwo .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  height: 530px;
  width: 940px;
  border-radius: 5px;
  gap: 20px;
  background-color: rgb(23, 23, 23);
}
body main #secFive .secContent .secContentTwo .content h2 {
  font-size: 50px;
  color: white;
}
body main #secFive .secContent .secContentTwo .content p {
  width: 400px;
  color: white;
  line-height: 1.3;
  font-size: 16px;
}
body footer {
  padding: 30px 0;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer .footerContent .content p {
  color: white;
  font-size: 14px;
  font-weight: 600;
}